*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(Red,rgb(255, 132, 132),Red); 
    flex-direction: column;
    display: flex;

}
header{
    background-color: green;
    height: 100px;
    display: flex;
    color: aliceblue;
    align-items: center;
    gap: 15px;
    padding-left: 70px;
    font-family: 'Wavefont', cursive;
    
}
header span{
    font-weight: 700;
}
main{
    background-color:yellow;
    height: 200px;
    flex-grow: 1;
    
}
footer{
    background-color: blue;
    height: 100px;   
}
