*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(Red,rgba(255, 0, 0, 0.452),Red); 
    flex-direction: column;
    display: flex;
    font-family: 'Montserrat', cursive;

}
header{
    height: 100px;
    display: flex;
    color: aliceblue;
    align-items: center;
    gap: 10px;
    padding-left: 0px;
    font-size: 20px;
    
}
header span{
    font-weight: 100;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-grow: 1;
    
}
footer{
    height: 100px;   
}
.background-logo{
    position: absolute;
    width: 100%;
    max-height: 100%;
    margin:auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.3;
}
.content-text{
    color: aliceblue;
    position: absolute;
    font-size: 40px;
    width: 240px;
    transform: translate(-100%);
}
footer{
    color: rgb(202, 149, 149);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-right: 0px;
    padding-left: 70px;
}
.Produto{
    height: 85vh;
}
footer img{
    display: flex;
    justify-content: end;
    padding-right: 0px;
}
@media(max-width:1024px){
    body{
        background: rgba(255, 0, 0, 0.445);
    }
}
@media(max-width:768px){
    body{
        background: rgb(132, 0, 255);
    }
    header{
        padding-left: 25px;
    }
    .content-text{
        text-align: center;
        transform: translate(0%,-950%);
        font-size: 1.06rem;
        width: 100px;

    }
}